---
// src/pages/index.astro
import articles from '../data/articles.json';
---

<ul>
  {articles.map(a => (
    <li>
      <a href={a.link} target="_blank" rel="noopener">{a.title}</a>
      <small>({a.source})</small>
    </li>
  ))}
</ul>
